:root {
  --accent300: #6e1800;
  --accent200: #9a2b09;
  --accent150: #af3713;
  --accent120: #d14319;
  --accent: #f24e1e;
  --accent90: #f56a40;
  --accent60: #f5a893;
  --accent40: #fbc2b2;
  --accent30: #fcd5ca;
  --accent20: #fbe8e2;
  --accent10: #fafafa;
  --background: #f5f5f5;
  --white: #ffffff;
  --offwhite: #f5f5f5;
  --grey30: #e0e0e0;
  --grey40: #bdbdbd;
  --dark-text: #171f34;
  --black: #000000;
}

#navbar {
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

* {
  box-sizing: border-box;
}

header {
  padding: 0.5em 0 0.5em;
  position: fixed;
  vertical-align: middle;
  width: 100%;
  background-color: var(--white);
}

main {
  padding-top: 40px;
  /* Was 127px before nav menu changes 23.01.21 */
  /* Changed from 53px to 43px when banner added 12.12.21 */
  /* Changed back to 53px 25.01.22 */
}

body {
  background-color: var(--background);
  font-family: "Avenir Next", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--dark-text);
}

img {
  margin-top: 20px;
  width: 100%;
}

.case-study-img {
  width: 100%;
  padding: 0px 5px 20px;
}

#case-study-img-max {
  max-width: 500px;
}

video {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  max-width: 200px;
  padding-top: 0px;
  margin-top: 0.1em;
}

i.fa-arrow-up-right-from-square {
  padding-left: 0.5rem;
  font-size: 1rem;
}

span > i.fa-solid {
  padding-right: 0.5rem;
}

span.tag {
  background-color: var(--accent20);
  color: var(--accent90);
  font-size: 0.85rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 1.5rem;
  font-weight: 500;
  font-family: "Avenir Next", sans-serif;
  vertical-align: middle;
  margin-right: 0.75rem;
  border: solid var(--accent60) thin;
}

.learning-point {
  border-left: solid var(--accent120) medium;
  padding-left: 1rem;
  color: var(--accent120);
  margin-bottom: 2rem;
}

.learning-point p {
  padding-top: 1rem;
  font-size: 1rem;
}

li > a {
  text-decoration: underline;
}

nav > ul {
  list-style-type: none;
  margin: 0;
}

nav > ul > li > a {
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 3px;
  color: var(--black);
  margin-left: 23px;
  margin-right: 15px;
  text-decoration: none;
}

nav > ul > li > a.current-nav {
  border-bottom: 2px solid var(--accent);
}

nav > ul > li > a:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  fill: var(--accent);
}

nav > ul > li > a:focus {
  border: solid 2px var(--black);
}

nav > ul > li > a:active {
  color: var(--accent);
}

.navtoggle li:not(:last-child) {
  display: none;
}

/* hides all except hamburger menu */
.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 1px;
  padding-right: 0;
  padding-top: 10px;
  font-size: 23px;
}

.nav-external-link {
  color: var(--black);
}

.navtoggle.responsive nav {
  padding: 10px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navtoggle.responsive li:last-child {
  padding-bottom: 15px;
}

#invisible {
  color: var(--offwhite);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.nav-icon {
  max-width: 14px;
  max-height: 14px;
  margin-left: 8px;
  margin-right: 0px;
}

.nav-icon:hover {
  color: var(--accent);
}

.social {
  max-height: 64px;
  max-width: 64px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

li {
  margin-left: 1em;
  padding-left: 0.5em;
}

#dark-accent-text {
  color: var(--accent120);
}

.subheading-accent li {
  margin-left: 0em;
}

.gallery-img-link {
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.gallery-img-link:hover {
  color: var(--accent);
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px var(--grey40);
}

#last-child-row {
  margin-bottom: 40px;
}

.accordion {
  background-color: var(--white);
  color: var(--accent90);
  cursor: pointer;
  padding: 16px;
  font-weight: 500;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .accordion-container {
  margin-top: 24px;
  background-color: var(--white);
}

.accordion i.fa-caret-up {
  display: none;
}

.accordion:hover {
  background-color: var(--accent60);
  color: var(--dark-text);
}

.active-accordion {
  background-color: var(--accent40);
  color: var(--dark-text);
}

.active-accordion i.fa-caret-down {
  display: none;
}

.active-accordion i.fa-caret-up {
  display: flex;
}

.panel {
  padding: 0 16px;
  background-color: var(--white);
  display: none;
  overflow: hidden;
  margin-bottom: 24px;
}

.row {
  padding-bottom: 40px;
}

ul {
  padding-left: 0;
  padding-right: 0;
}

.key-points {
  font-weight: 500;
}

.action-points {
  font-weight: 500;
  color: var(--accent150);
  padding-bottom: 1rem;
}

p.key-points {
  padding-top: 0.5em;
  padding-bottom: 0em;
}

p.key-points > a {
  color: var(--black);
  text-decoration: none;
}

p.key-points > a:hover {
  color: var(--accent);
  text-decoration: underline;
}

footer {
  background-color: var(--white);
  color: var(--accent);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  margin-top: 56px;
}

#footer-content {
  padding-top: 10px;
  padding-bottom: 0px;
}

.hero {
  background-color: var(--white);
  padding: 64px 16px 32px 16px;
  width: 100%;
  color: var(--dark-text);
  text-align: center;
}

.hero-left {
  background-color: var(--background);
  max-width: 800px;
  width: 100%;
  color: var(--dark-text);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.hero-left h2 {
  margin-top: 40px;
}

.hero-left h3 {
  margin-top: 40px;
}

ul {
  margin-top: 0px;
}

#testimonials {
  max-width: 750px;
  width: 100%;
  color: var(--dark-text);
  text-align: left;
  margin-right: auto;
}

.section-title {
  background-color: var(--dark-text);
  padding: 5px;
  width: 100%;
  color: var(--offwhite);
  text-align: center;
}

.hero-text {
  max-width: 480px;
  display: inline-block;
  text-align: center;
}

.hero-img {
  max-width: 800px;
  width: 100%;
  padding: 0px 5px 20px;
}

.hero video {
  max-width: 800px;
  width: 100%;
  padding: 0px 5px 20px;
  margin-top: 20px;
}

#before-after-img-desktop {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

#before-after-img-mobile {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.before-after-img-desktop {
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
  display: none;
}

.before-after-img-desktop-full {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: none;
}

.before-after-img-mobile {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: block;
}

.before-after-img-mobile-disappearing {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: none;
}

#no-padding-img {
  padding: 0px;
}

.hero h1 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  font-family: "Libre Caslon Text", sans-serif;
  color: var(--dark-text);
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
  color: var(--accent);
  padding-top: 16px;
  padding-bottom: 0px;
}

h3 {
  font-size: 1.3em;
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 8px;
  padding-top: 16px;
}

.hero-left h2 + h3 {
  margin-top: 0px;
  padding-top: 0px;
}

h4 {
  font-size: 1.15em;
  font-family: "Avenir Next", sans-serif;
  margin-bottom: 6px;
  color: var(--accent150);
}

.highlight {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=d5befa);
  margin: -2px -6px;
  padding: 2px 6px;
}

.highlight a {
  color: var(--accent200);
  text-decoration: underline;
}

.accordion-container .accordion h3 {
  margin-top: 8px;
  padding-top: 0px;
}

#homepage-hero {
  max-width: 1000px;
}

.subheading-accent {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  color: var(--accent);
  padding-top: 0px;
  list-style-type: none;
}

.subheading-accent li {
  padding-bottom: 0.4em;
}

.body-prominent {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 500;
  font-family: "Avenir Next", sans-serif;
  padding-top: 16px;
  margin-bottom: 8px;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

a:hover {
  color: var(--black);
}

a:focus {
  color: var(--accent300);
}

a:active {
  color: var(--accent90);
}

a.button-primary {
  background-color: var(--accent120);
  color: var(--white);
  margin-left: 0px;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  border: solid var(--white);
  border-width: 3px;
  border-radius: 1px;
  font-weight: 500;
  transition-duration: 0.3s;
  transition-property: opacity;
  display: inline-block;
}

.button-primary:hover {
  background-color: var(--offwhite);
  color: var(--black);
  border: solid var(--black);
  border-width: 3px;
  border-radius: 1px;
}

.button-primary:focus {
  border: solid 4px var(--black);
  text-decoration: none;
}

.button-primary:active {
  opacity: 0.8;
}

a.button-secondary {
  display: inline-block;
  background-color: var(--offwhite);
  color: var(--accent);
  margin-left: 0px;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  border: solid var(--accent);
  border-width: 3px;
  border-radius: 1px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.button-secondary:hover {
  background-color: var(--offwhite);
  color: var(--black);
  border: solid var(--black);
  border-width: 3px;
  border-radius: 1px;
}

.button-secondary:focus {
  border: solid 4px var(--black);
}

.button-secondary:active {
  opacity: 0.8;
}

#attribution {
  margin-top: 24px;
  font-size: 0.8em;
  color: var(--black);
}

#jb {
  max-width: 150px;
}

#banner {
  text-align: center;
  background-color: var(--background);
  width: 100%;
  height: 30px;
}

#banner-content {
  margin-top: -27px;
  padding-top: 8px;
  font-size: 0.7em;
}

/* Layout styling */

.content {
  padding-left: 24px;
  padding-right: 24px;
}

aside {
  padding: 40px;
  width: 100%;
  text-align: center;
  background: var(--black);
  color: var(--white);
  margin-top: 40px;
}

aside h2 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 8px;
}

#pale {
  background-color: var(--accent10);
}

/* ==============================
Medium devices (752px or larger)
================================= */
@media only screen and (min-width: 752px) {
  h2 {
    margin-top: 32px;
  }

  .logo {
    margin-top: 0.2em;
  }

  nav > ul {
    list-style-type: none;
  }

  nav > ul > li > a.button-secondary {
    margin-left: 12px;
  }

  header {
    padding: 0.5em 0 0.5em;
  }

  #space-after-text-last-child {
    padding-bottom: 20px;
  }

  .index-gallery-img-link {
    margin-top: 5px;
  }

  .before-after-img-desktop {
    width: 100%;
    max-width: 1000px;
    padding-top: 20px;
    display: block;
  }

  .before-after-img-desktop-full {
    width: 100%;
    padding-top: 20px;
    display: block;
  }

  .before-after-img-mobile {
    width: 100%;
    padding-top: 20px;
    max-width: 1440px;
    display: none;
  }

  .before-after-img-mobile-disappearing {
    width: 100%;
    padding-top: 20px;
    max-width: 1440px;
    display: none;
  }

  #before-after-img-desktop {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    max-width: 600px;
  }

  #before-after-img-mobile {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }

  #banner-content {
    margin-top: 0px;
    padding-top: 8px;
    font-size: 0.7em;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
  }

  nav > ul > li {
    display: inline-block;
    margin-left: 0em;
  }

  nav > ul > li > a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1em;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 60px;
  }

  .image-beside {
    width: 50%;
    float: right;
  }

  .hero {
    padding-left: 0px;
    padding-right: 0px;
    background-color: var(--white);
  }

  .hero span {
    display: block;
  }

  #jb {
    max-width: 150px;
  }

  [class*="col-"] {
    float: left;
    padding-right: 30px;
    padding-bottom: 25px;
  }

  .col-md-6 {
    width: 50%;
    padding-bottom: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .content {
    max-width: 1000px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.2em;
  }

  header {
    padding: 0.5em 0 0.5em;
  }

  .logo {
    max-width: 210px;
  }

  #banner {
    height: 38px;
  }

  #banner-content {
    margin-top: 10px;
    font-size: 0.8em;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .image-beside {
    max-width: 400px;
  }

  #jb {
    max-width: 200px;
  }

  main {
    padding-top: 84px;
  }
  /*  Added at 100px when banner added 12.12.21
        Kept when banner removed 25.01.22 */

  /* Layout styling */
  .content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .logo {
    max-width: 210px;
  }

  nav > ul > li {
    display: inline-block;
  }

  main {
    padding-top: 84px;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 1.2em;
  }

  .hero-text {
    max-width: 1000px;
  }

  .hero-img {
    width: 100%;
    padding: 20px 5px 40px;
    max-width: 1000px;
    padding: 0px 5px 20px;
  }

  #jb {
    max-width: 300px;
  }

  /* Layout styling */
  .content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}
