/*
Colours used:
Background - Light blue - 248, 249, 252;
Nav bar - Navy - 25,30,54   /   Nav bar - 23,31,52
Accent colour - Teal - 66,116,117; #427475;
*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  margin-top: 20px;
}

.logo {
  max-width: 200px;
  padding-top: 0px;
  margin-top: 0px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
}

nav > ul > li > a {
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 3px;
  color: rgb(255, 255, 255);
  margin-left: 35px;
  margin-right: 15px;
}

nav > ul > li > a.current-nav {
  border-bottom: 2px solid rgb(255, 255, 255);
}

nav > ul > li > a:visited {
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

nav > ul > li > a:hover {
  color: rgb(66, 116, 117);
  border-bottom: 2px solid rgb(66, 116, 117);
}

nav > ul > li > a:focus {
  color: rgb(255, 255, 255);
}

nav > ul > li > a:active {
  color: rgb(255, 255, 255);
}

nav > ul > li > a.button-nav {
  background-color: rgb(66, 116, 117);
  border: none;
  color: white;
  margin-left: 12px;
  margin-top: 30px;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05rem;
  border-radius: 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  transition-property: opacity;
}

nav > ul > li > a.button-nav:hover {
  background-color: rgb(234, 237, 246);
  border: none;
  color: rgb(66, 116, 117);
}

.navtoggle li:not(:last-child) {
  display: none;
}

/* hides all except hamburger menu */
.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 1px;
  padding-right: 0;
  padding-top: 10px;
  font-size: 23px;
}

.navtoggle.responsive nav {
  padding: 10px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navtoggle.responsive li:last-child {
  padding-bottom: 15px;
}

#invisible {
  color: rgb(248,249,252);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.social {
  max-width: 45px;
  max-height: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.gallery-column-6 {
  padding-bottom: 5px;
}

.col-md-3 {
  width: 100%;
  padding-bottom: 0px;
}

.col-md-3 #last-child-h1-teal {
  padding-top: 30px;
}

#space-after-text {
  padding-bottom: 30px;
}

#space-after-text-last-child {
  padding-bottom: 30px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.index-gallery-img-link {
  transition: all 0.3s ease 0s;
cursor: pointer;
}

.index-gallery-img-link:hover {
  color: rgb(66, 116, 117);
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(66, 116, 117, 0.4);
}

.gallery-img-link {
  margin-top: 20px;
  transition: all 0.3s ease 0s;
cursor: pointer;
}

.gallery-img-link:hover {
  color: rgb(66, 116, 117);
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(66, 116, 117, 0.4);
}

#project-highlights .row {
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(23, 31, 52, 0.05);
}

#last-child-row {
  margin-bottom: 40px;
}

#about {
  padding-bottom: 25px;
  border-bottom: 2px solid rgb(23, 31, 52);
}

header {
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
  background-image: url(https://jjbrowndesign.uk/img/home/ffflux3.svg);
  background-size: 100%;
  animation: header-animation 3s infinite alternate;
  background-color: rgb(23, 31, 52);
}

/*
OLD HEADER CONTENT:
background-color: rgb(23, 31, 52);
padding: 10px 0 4px;
position: fixed;
width: 100%;
-webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
-moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
*/

@keyframes header-animation {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

main {
  padding-top: 53px;
  /* Was 127px before nav menu changes 23.01.21 */
  /* Changed from 53px to 43px when banner added 12.12.21 */
  /* Changed back to 53px 25.01.22 */

}

body {
  background-color: rgb(248, 249, 252);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: rgb(23, 31, 52);
}

.body-white {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  padding-top: 1px;
}

ul {
  padding-left: 0;
  padding-right: 0;
}

.teal-ul {
  padding-left: 18px;
  color: rgb(66, 116, 117);
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

.key-points {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
}

.about-ul {
  padding-left: 20px;
  color: rgb(66, 116, 117);
}

footer {
  background-color: rgb(23, 31, 52);
  background-image: url(https://jjbrowndesign.uk/img/home/ffflux3.svg);
  background-size: 200%;
  animation: header-animation 4s infinite alternate;
  background-color: rgb(23, 31, 52);
  color: rgb(248, 249, 252);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

#footer-content {
  padding-top: 10px;
  padding-bottom: 0px;
}

.hero {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  color: rgb(23, 31, 52);
  text-align: center;
}

.section-title {
  background-color: rgb(23, 31, 52);
  background-image: url(https://jjbrowndesign.uk/img/home/ffflux3.svg);
  background-size: 200%;
  animation: header-animation 3s infinite alternate;
  padding: 5px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.hero-text {
  max-width: 480px;
  display: inline-block;
  text-align: center;
}

.hero-img {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#before-after-img-desktop {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

#before-after-img-mobile {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: block
}

.before-after-img-desktop {
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
  display: none;
}

.before-after-img-desktop-full {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: none;
}

.before-after-img-mobile {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: block;
}

.before-after-img-mobile-disappearing {
  width: 100%;
  padding-top: 20px;
  max-width: 1440px;
  display: none;
}

#single-hero-img {
  max-width: 500px;
  padding: 20px 5px 0;
}

#no-padding-img {
  padding: 0px;
}

.hero h1 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  font-family: 'Libre Caslon Text', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

.h1-teal {
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(66, 116, 117);
}

.h1-teal-mobile-only {
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(66, 116, 117);
  display: block;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

.h3-gallery {
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(23, 31, 52);
}


h4 {
  font-size: 1em;
  font-weight: 400;
  color: rgb(23, 31, 52);
}

p.pre-footer {
  text-align:center;
}

a {
  color: rgb(66, 116, 117);
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

h2 > a {
  text-decoration: underline;
}

a:visited {
  color: rgba(66, 116, 117, 0.8);
}

a:hover {
  color: rgba(66, 116, 117, 0.6);
}

a:focus {
  color: rgba(66, 116, 117, 0.6);
}

a:active {
  color: rgba(66, 116, 117, 0.9);
}

a.button {
  display: inline-block;
  background-color: rgb(66, 116, 117);
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05rem;
  padding-bottom: 8px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease 0s;
}

.button:visited {
  opacity: 0.9;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(234, 237, 246);
  border: none;
  color: rgb(66, 116, 117);
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(66, 116, 117, 0.4);
}

.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  background-color: rgb(248, 249, 252);
  color: rgb(66, 116, 117);
  border: 2px solid rgb(66, 116, 117);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button.contact:hover {
  background-color: rgb(66, 116, 117);
  color: rgb(248, 249, 252);
}

.button.contact:focus {
  background-color: rgb(66, 116, 117);
  color: rgb(248, 249, 252);
}

.jjb {
  max-width: 100px;
}

#jb {
  max-width: 150px;
}

.animated-image {
  max-width: 300px;
  max-height: 200px;
}

#banner {
  text-align: center;
  background-color: rgb(234, 252, 252);
  width: 100%;
  height: 30px;
}

#banner-content {
  margin-top: -27px;
  padding-top: 8px;
  font-size: 0.7em;
}

/* Layout styling */

.container {
  padding: 0 15px;
}


/* ==============================
Medium devices (680px or larger)
================================= */
@media only screen and (min-width: 680px) {
  header {
      padding: 20px 0 13px;
      background-size: 200%;
    }

    .h1-teal {
      margin-top: 25px;
    }

    .h1-teal-mobile-only {
      font-size: 1.8em;
      font-style: italic;
      line-height: 1.4;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 10px;
      color: rgb(66, 116, 117);
      text-align: center;
      display: none;
    }

    .h3-gallery {
      margin-top: 10px;
      margin-bottom: 10px;
      color: rgb(23, 31, 52);
    }

        .col-lg-3 {
          width: 40%;
          padding-bottom: 0px;
        }

        .col-lg-3 #last-child-h1-teal {
          padding-top: 0px;
        }

        #space-after-text {
          padding-bottom: 0px;
        }

        #space-after-text-last-child {
          padding-bottom: 20px;
        }

.index-gallery-img-link {
  margin-top: 5px;
}


    .before-after-img-desktop {
      width:100%;
      max-width: 1000px;
      padding-top: 20px;
      display: block;
    }

    .before-after-img-desktop-full {
      width:100%;
      padding-top: 20px;
      display: block;
    }

    .before-after-img-mobile {
      width: 100%;
      padding-top: 20px;
      max-width: 1440px;
      display: none;
    }

    .before-after-img-mobile-disappearing {
      width: 100%;
      padding-top: 20px;
      max-width: 1440px;
      display: none;
    }

    #before-after-img-desktop {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      display: inline;
      max-width: 600px;
    }

    #before-after-img-mobile {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      display: none;
    }

    #banner-content {
      margin-top: 0px;
      padding-top: 8px;
      font-size: 0.7em;
    }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1em;
  }

  nav > ul > li > a.button-nav {
  background-color: rgb(66, 116, 117);
  border: none;
  color: white;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05rem;
  border-radius: 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  transition-property: opacity;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

    main {
    padding-top: 90px;
  }

  .logo {
    max-width: 150px;
    padding-top: 9px;
  }

  img {
    width: 100%;
    max-width: 440px;
  }

  .portfolio {
    width: 50%;
    float: right;
  }

  .hero {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }

  .hero-img {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-text {
    max-width: 480px;
  }

  .hero span {
  display: block;
}

  #jb {
    max-width: 150px;
  }

  [class*="col-"] {
    float: left;
    padding-right: 30px;
    padding-bottom: 25px;
  }

  .col-md-6 {
    width: 50%;
    padding-bottom: 10px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}

  .gallery-column-6 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
  }

  /* Layout styling */
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}


/* ==============================
Breakpoint for nav menu to fit in full - NAV ONLY (740px or larger)
================================= */
@media only screen and (min-width: 740px) {
  nav > ul > li > a {
    margin-left: 15px;
    margin-right: 15px;
  }

  nav > ul > li > a.button-nav {
    background-color: rgb(66, 116, 117);
    border: none;
    color: white;
    padding-bottom: 12px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05rem;
    border-radius: 30px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    transition-property: opacity;
  }

  .logo {
    max-width: 180px;
    padding-top: 4px;
  }

  #banner-content {
    margin-top: -8px;
    padding-top: 8px;
    font-size: 0.7em;
  }

  /* Layout styling */
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.2em;
  }

  .logo {
    max-width: 250px;
  }


      #banner {
        height: 38px;
      }

      #banner-content {
        margin-top: 10px;
        font-size: 0.8em;
      }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a.button-nav {
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  img {
    width: 100%;
    max-width: 440px;
  }

  .portfolio {
    max-width: 400px;
  }

  .hero {
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero-text {
    max-width: 660px;
  }

  #jb {
    max-width: 200px;
  }

  .col-lg-6 {
    width: 50%;
    padding-bottom: 0px;
  }

  main {
      padding-top: 100px;
    }
    /*  Added at 100px when banner added 12.12.21
        Kept when banner removed 25.01.22 */

  /* Layout styling */
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}


/* ==============================
X-large devices (1400px or larger)
================================= */
@media only screen and (min-width: 1400px) {
  .logo {
    max-width: 350px;
    margin-top: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a.button-nav {
    padding-bottom: 14px;
    padding-top: 19px;
    padding-left: 26px;
    padding-right: 26px;
  }

  main {
    padding-top: 116px;
    /* Changed from 116px to 126px when banner added 12.12.21 */
    /* Changed back to 116px when banner removed 25.01.22 */

  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 1.5em;
  }

  img {
    width: 100%;
    max-width: 600px;
  }

  .portfolio {
    max-width: 600px;
  }

  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text {
    max-width: 1100px;
  }

  .hero-img {
    max-width: 150px;
    padding: 20px 5px 0;
  }

  #single-hero-img {
    max-width: 600px;
    padding: 20px 5px 0;
  }

  #jb {
    max-width: 300px;
  }

  /* Layout styling */
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}

/* ==============================
X-large devices (1400px or larger)
================================= */
@media only screen and (min-width: 1400px) {
  .logo {
    max-width: 350px;
    margin-top: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  main {
    padding-top: 116px;
    /* Changed from 116px to 126px when banner added 12.12.21 */
    /* Changed back to 116px when banner removed 25.01.22 */
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 1.6em;
  }

  img {
    width: 100%;
    max-width: 600px;
  }

  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text {
    max-width: 1000px;
  }

  .hero-img {
    width: 100%;
    padding: 20px 5px 0;
  }

  #single-hero-img {
    max-width: 600px;
    padding: 20px 5px 0;
  }

  #jb {
    max-width: 300px;
  }

  /* Layout styling */
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}
