/*
Colours used:
Upper bar - Very pale blue - 248,249,252;
Teal - 66,116,117;
Background - Light blue - 234,237,246;
Background - Navy - 25,30,54;
*/

* {
  box-sizing: border-box;
}

img {
  width:100%;
  max-width:400px;
}

.logo {
  max-width:250px;
}

nav > ul {
  list-style-type:none;
  padding: 0px;
  display:inline-block;
  width:100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(66,116,117);
}

nav > ul > li > a:visited {
  opacity:0.8;
}

nav > ul > li > a:hover {
  color: rgb(25,30,54);
}

nav > ul > li > a:focus {
  color: rgb(25,30,54);
}

nav > ul > li > a:active {
  color: rgb(255;255;255);
}

.social {
  max-width: 45px;
}

.socialrow {
  text-align:center;
}

.row {
  margin: 25px 0px;
  /* 25px top and bottom, 0px left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 2px solid rgb(25,30,54);
}

header {
  background-color: rgb(248,249,252);
  text-align:center;
  padding: 10px 0px;
  position:fixed;
  width:100%;
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);
}

main {
  padding-top:126px;
}

body {
  background-color: rgb(255,255,255);
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: rgb(25, 30, 54);
}

footer {
  background-color: rgb(25,30,54);
  color: rgb(248,249,252);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#hero {
  background-color: rgb(66,116,117);
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  color: rgb(248,249,252);
}

#hero h1 {
text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2 {
  font-size: 1.4em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: rgb(66, 116, 117);
  text-decoration: none;
}

a:visited {
  color: rgba(66, 116, 117, 0.8);
}

a:hover {
  color: rgba(66, 116, 117, 0.6);
  text-decoration: underline;
}

a:focus {
  color: rgba(66, 116, 117, 0.6);
  text-decoration: underline;
}

a:active {
  color: rgba(66, 116, 117, 0.9);
}

a.button {
  display: inline-block;
  background-color: rgb(66, 116, 117);
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 10px solid #995c30 transition: 0.2s opacity;
}

.button:visited {
  opacity: 0.9;
  text-decoration: none;
}

a.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  background-color: rgb(248,249,252);
  color: rgb(66, 116, 117);
  border: 2px solid rgb(66, 116, 117);
}

.button.contact:hover {
  background-color: rgb(66, 116, 117);
  color: rgb(248,249,252);
}

.button.contact:focus {
  background-color: rgb(66, 116, 117);
  color: rgb(248,249,252);
}

/* Layout styling */

.container {
padding: 0px 15px;
}
